:root {
    --corPrincipal1: #353535;
    --corPrincipal2: #5b5b5b;
    --corPrincipal3: #818181;
    --corPrincipal4: #222222;
    --corPrincipal5: #040404;
    --corPrincipal6: #262525;
    --corTexto1: #f5f5f5;
    --corTexto2: #a4a4a4;
    --corTexto3: #7b7b7b;
    --corTexto4: #e9e9e9;
}


/* HEADER PART */


.mobile-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: grid;
    grid-template-columns: 20% 47% 33%;
    padding: 1rem;
    background-color: var(--corPrincipal1);
    justify-content: space-around;
    height: 75px;
    width: 100%;
    color: var(--corTexto4);
}

.menu-btn {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
}

.menu-btn summary{
    cursor: pointer;
    padding-left: 0.2rem;
    font-size: 26px;
    list-style-type: none;
}

.dropdown {
    position: fixed;
    padding: 1rem;
    top: 75px;
    left: 0;
    align-items: flex-start;
    background-color: var(--corPrincipal4);
    color: var(--corTexto4);
    width: 100vw;
    height: calc(100vh - 75px);
    opacity: 1;
}

.dd-list {
    font-size: 1.7rem;
    padding-left: 1.7rem;
    list-style-type: disc;
}

.dd-list hr {
    margin: 0.6rem 0 0.6rem -1.5rem;
    background-color: var(--corPrincipal2);
    border: 1.5px solid var(--corPrincipal2);
}

.logo-img {
    margin: auto;
    width: 150px;
}

.profile-btn summary {
    padding-right: 0.2rem;
    display: flex;
    justify-content: right;
    align-items: center;
    list-style-type: none;
    gap: 12px;
}

.profile-btn summary::after {
    font-size: 23px;
    content: "▼";
}

.profile-btn summary img {
    width: 42.5px;
    border-radius: 100%;
    border: 2px solid var(--corPrincipal2);
}


/* MAIN PART */


main {
    margin-top: 75px;
    background-color: var(--corPrincipal6);
    color: var(--corTexto4);
}

.video-edit {
    width: 100%;
}

.populares h2 {
    font-size: 1.7rem;
    text-align: left;
    text-decoration: underline;
}

.titulo-mais {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: flex-end;
    padding: 0.8rem 0.8rem 0 1.5rem;
}

.titulo-mais a {
    padding: 0.2rem;
    text-align: center;
    border: 1px solid var(--corPrincipal1);
    border-radius: 5px;
    background-color: var(--corPrincipal1);
    color: var(--corTexto2);
}

.mobile-populares {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: start;
}

.caixa-anime {
    padding: 1rem;
    text-decoration: none;
    color: inherit;
}

.caixa-anime p {
    font-size: 1.2rem;
}

.caixa-anime p, .caixa-anime span {
    padding-top: 0.3rem;
}

.caixa-anime span {
    color: var(--corTexto2);
}

.caixa-anime img {
    border-radius: 10px;
    width: 100%;
    max-width: 180px;
    height: 260px;
    object-fit: cover;
}

.mobile-derivados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}

.mobile-derivados a {
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem;
    width: 90%;
    border: 1px solid var(--corPrincipal1);
    border-radius: 10px;
    background-color: var(--corPrincipal1);
    color: var(--corTexto4);
}

.mobile-derivados a:first-of-type{
    margin-top: 1rem;
}

.mobile-derivados a:last-of-type {
    margin-bottom: 1rem;
}

main hr {
    background-color: var(--corPrincipal1);
    border: 2px solid var(--corPrincipal1);
}


/* FOOTER PART */


footer {
    padding: 1rem;
    background-color: var(--corPrincipal6);
    color: var(--corTexto3);
}

.social-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
}

.social-links img {
    background-color: var(--corPrincipal1);
    border-radius: 50px;
    margin: 0 auto;
    width: 45px;
}

.social-links p {
    padding-left: 0.5rem;
    font-size: 1.25rem;
    color: var(--corTexto4);
    grid-column: 1 / 6;
}

footer hr {
    margin: 1rem -1rem;
    background-color: var(--corPrincipal1);
    border: 2px solid var(--corPrincipal1);
}

.sobre {
    padding: 0.2rem;
    text-align: justify;
}

.sobre address {
    margin: 0.8rem auto 0;
    width: 70%;
    padding: 0.4rem 0;
    text-align: center;
    border: 2px solid var(--corPrincipal3);
    border-radius: 10px;
}